@import './side-bar.css';

@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}
html {
    background-color: #121212;
}

input {
    background: none;
    border: none;
}

input:focus {
    outline: none;
    box-shadow: none; 
}

.button-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    cursor: pointer;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
}

.button-container:hover {
    background-color: #121212;
}